
$bcg-color: #ffffff;
$block-bcg-color: rgba(236, 236, 236, 0.96);
$accent-color: #2c59b3;
$error-bcg-color: rgba(255, 230, 105, 0.6);
$error-border-color: #e2c208;
$shadow-color: rgba(114, 114, 114, 0.3);

$main-text-color: #222222;
$error-text-color: #3b3104;
